@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Martel:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-body: 'Martel', serif;
  --ff-heading: 'Karla', serif;
  --fw-400: 400;
  --fw-700: 700;
}

$bg-color: #2b303a;
$clr-text: #f6f2ff;
$clr-link: #fa7921;
$clr-current: greenyellow;

body {
  background-color: #2b303a;
  max-width: 960px;
  margin: 0 auto;
  font-family: var(--ff-body);
  font-size: 1.25rem;
  font-weight: var(--fw-400);
  color: $clr-text;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-700);
}

a {
  text-decoration: none;
  color: $clr-link;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

nav a {
  margin-right: 1em;
  color: $clr-text;
}

.nav-links {
  display: flex;
  flex-direction: column;
}
.current {
  color: $clr-current;
}

ul,
li {
  padding: 0;
}

li {
  list-style-type: none;
  margin: 2em 0;
}
