@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Martel:wght@400;700&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
li {
  padding: 0;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --bg-clr-1: #0c090a;
  --bg-clr-2: #2b303a;

  --clr-link-1: #c62f8c;
  --accent: #c62f8c;

  --clr-current-1: greenyellow;
  --clr-current-2: #0affc6;

  --ff-body: 'Martel', serif;
  --ff-heading: 'Karla', serif;
  --fw-400: 400;
  --fw-700: 700;
}

$bg-color: var(--bg-clr-1);
$accent: var(--accent);
$article-color: #31353d;
$clr-text: #f6f2ff;
$clr-link: var(--clr-link-1);
$clr-current: var(--clr-current-2);

body {
  background-color: $bg-color;
  max-width: 960px;
  margin: 0 auto;
  font-family: var(--ff-body);
  font-size: 1.25rem;
  font-weight: var(--fw-400);
  color: $clr-text;
  line-height: 1.2;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-700);
}

.container {
  margin: 0 auto;
  max-width: 45em;
}
a {
  text-decoration: none;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  font-family: var(--ff-heading);
}

.nav a {
  margin-right: 1em;
  color: $clr-text;
}

.nav-links {
  display: flex;
  flex-direction: column;
}
.nav .nav-list .current {
  background: hsla(323, 62%, 48%, 1);

  background: linear-gradient(
    45deg,
    hsla(323, 62%, 48%, 1) 0%,
    hsla(10, 58%, 58%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(323, 62%, 48%, 1) 0%,
    hsla(10, 58%, 58%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(323, 62%, 48%, 1) 0%,
    hsla(10, 58%, 58%, 1) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: var(--fw-700);
}

li {
  list-style-type: none;
  margin: 2em 0;
}

.hero {
  margin: 5em 0;
}
.hero__title {
  margin: 1em 0;
  font-size: clamp(2rem, 10vw, 4rem);
  line-height: 1;
  font-weight: var(--fw-700);
  letter-spacing: -0.03em;
}

.accent {
  background: hsla(323, 62%, 48%, 1);

  background: linear-gradient(
    45deg,
    hsla(323, 62%, 48%, 1) 0%,
    hsla(10, 58%, 58%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(323, 62%, 48%, 1) 0%,
    hsla(10, 58%, 58%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(323, 62%, 48%, 1) 0%,
    hsla(10, 58%, 58%, 1) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.latest-posts {
  margin: 2em 0;
}

.latest-posts__title {
  margin-bottom: 0.5em;
}

.blogroll {
  margin: 5em 0;
}

.blogroll__link {
  margin-bottom: 2em;
}

.blogroll__link p {
  line-height: 1.5;
}
.post {
  border: 2px dotted #cdd7e0;
  border-radius: 7px;
  padding: 3em 1.5em;
  margin-bottom: 2em;
}

.post__title {
  margin-bottom: 1em;
}

.post time {
  margin-bottom: 1em;
}

.post p {
  margin: 1em 0;
  line-height: 1.5em;
}

.post__link {
  margin-top: 1em;
  font-weight: var(--fw-700);
}

.post__link--span {
  margin-left: 0.5em;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
}

.footer .svg {
  color: white;
  width: 24px;
  height: 24px;
}

.footer .footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

ion-icon {
  color: white;
}

.blogroll {
  margin-top: 3em;
}

.blogroll__posts {
  margin-bottom: 1em;
}

.page {
  margin-top: 3em;
}

.page__header {
  margin-bottom: 1em;
}
.page__title {
  margin-bottom: 0.25em;
}

.page__footer {
  margin-top: 1em;
}

.staff {
  margin-top: 3em;
}

.staff__title {
  margin-bottom: 1em;
}

.staff__author {
  margin-bottom: 0.25em;
}

.staff__position {
  margin-bottom: 1em;
}

.page__author {
  margin-bottom: 0.5em;
}

.page__content {
  margin: 1em 0;
}

.page__subtitle {
  margin: 1.8em 0 0.25em 0;
}

.page__list {
  margin-top: 0.25em;
}

.page__link {
  margin-top: 0.25em;
}
